# Review : Exploratory Data Analysis con Pandas y Preprocessing
#### UD1. Introducción al Machine Learning
#### MP. Sistemas de Aprendizaxe Automático
#### IES de Teis (Vigo), Cristina Gómez Alonso

En este cuarto notebook repasaremos los conceptos trabajados anteriormente

### *Ejercicio 0: Importación*

Carga en un dataframe el fichero adults.csv y muestra las primeras 10 filas.

In [2]:
import pandas as pd

df = pd.read_csv('data/adult.csv')

df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,gains
0,50.0,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13.0,United-States,<=50K
1,38.0,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40.0,United-States,<=50K
2,53.0,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40.0,United-States,<=50K
3,28.0,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40.0,Cuba,<=50K
4,37.0,Private,284582,Masters,14.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40.0,United-States,<=50K
5,49.0,Private,160187,9th,5.0,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16.0,Jamaica,<=50K
6,52.0,Self-emp-not-inc,209642,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45.0,United-States,>50K
7,31.0,Private,45781,Masters,14.0,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50.0,United-States,>50K
8,42.0,Private,159449,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40.0,United-States,>50K
9,37.0,Private,280464,Some-college,10.0,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80.0,United-States,>50K

### *Ejercicio 1: Datos generales*

1. ¿Cuántas filas y columnas tiene el dataset?

In [3]:
df.shape

(32560, 15)

2. Muestra información detallada de cada columna. Para cada tipo de datos, ¿Cuántas columnas tienes de dicho tipo?

In [4]:
df.info()
# 3 de tipo float
# 3 de tipo int
# 9 de tipo object (string)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32559 non-null  float64
 1   workclass       32560 non-null  object
 2   fnlwgt          32560 non-null  int64
 3   education       32560 non-null  object
 4   education-num   32554 non-null  float64
 5   marital-status  32560 non-null  object
 6   occupation      32560 non-null  object
 7   relationship    32560 non-null  object
 8   race            32560 non-null  object
 9   sex             32560 non-null  object
 10  capital-gain    32560 non-null  int64
 11  capital-loss    32560 non-null  int64
 12  hours-per-week  32552 non-null  float64
 13  native-country  32560 non-null  object
 14  gains           32560 non-null  object
dtypes: float64(3), int64(3), object(9)
memory usage: 3.7+ MB

3. Muestra información estadística de cada columna numérica y responde a las siguientes preguntas.¿Cuantos años tiene el usuario más mayor y el más joven? ¿Cuál es la mayor ganancia para un usuario? ¿En qué cuartil se superan las 40h semanales de trabajo?

In [19]:
df_statistic = df.describe()

print(f'El usuario más mayor tiene {df_statistic["age"]["max"]} años')
print(f'El usuario más joven tiene {df_statistic["age"]["min"]} años')
print(f'El usuario más joven tiene {df_statistic["age"]["min"]} años')
print(f'El usuario que más ha ganado, ganó {df_statistic["capital-gain"]["max"]}')
print(f'En el cuartil 75 se superan las 40h semanales: {df_statistic["hours-per-week"]["75%"]}')

df_statistic

El usuario más mayor tiene 90.0 años
El usuario más joven tiene 17.0 años
El usuario más joven tiene 17.0 años
El usuario que más ha ganado, ganó 99999.0
En el cuartil 75 se superan las 40h semanales: 45.0

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32559.000000,3.256000e+04,32554.000000,32560.000000,32560.000000,32552.000000
mean,38.582266,1.897818e+05,10.080482,1077.615172,87.306511,40.438345
std,13.640374,1.055498e+05,2.572830,7385.402999,402.966116,12.346980
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178315e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783630e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370545e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

4. ¿Existen nulos en alguna de las columnas?

In [33]:
nulls = df.isnull().sum()
print(f'En las columnas age({nulls["age"]}), education-num({nulls["education-num"]}) y hours-per-week({nulls["hours-per-week"]})')

En las columnas age(1), education-num(6) y hours-per-week(8)

### *Ejercicio 3: Índices*

1. ¿Qué valores diferentes tiene la columna relationship? ¿En qué proporción?

In [35]:
df['relationship'].unique()

array([' Husband', ' Not-in-family', ' Wife', ' Own-child', ' Unmarried',
       ' Other-relative'], dtype=object)

2. ¿Y la columna native-country?

In [36]:
df['native-country'].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

3. Crea un nuevo dataframe llamado adults_new_index con un índice para las columna relationship y native-country.

In [43]:
adults_new_index = df.set_index(['relationship', 'native-country'])

adults_new_index

                                age          workclass  fnlwgt    education  \
relationship   native-country
 Husband        United-States  50.0   Self-emp-not-inc   83311    Bachelors
 Not-in-family  United-States  38.0            Private  215646      HS-grad
 Husband        United-States  53.0            Private  234721         11th
 Wife           Cuba           28.0            Private  338409    Bachelors
                United-States  37.0            Private  284582      Masters
...                             ...                ...     ...          ...
                United-States  27.0            Private  257302   Assoc-acdm
 Husband        United-States  40.0            Private  154374      HS-grad
 Unmarried      United-States  58.0            Private  151910      HS-grad
 Own-child      United-States  22.0            Private  201490      HS-grad
 Wife           United-States  52.0       Self-emp-inc  287927      HS-grad

                               education-num       marital-status  \
relationship   native-country
 Husband        United-States           13.0   Married-civ-spouse
 Not-in-family  United-States            9.0             Divorced
 Husband        United-States            7.0   Married-civ-spouse
 Wife           Cuba                    13.0   Married-civ-spouse
                United-States           14.0   Married-civ-spouse
...                                      ...                  ...
                United-States           12.0   Married-civ-spouse
 Husband        United-States            9.0   Married-civ-spouse
 Unmarried      United-States            9.0              Widowed
 Own-child      United-States            9.0        Never-married
 Wife           United-States            9.0   Married-civ-spouse

                                       occupation    race      sex  \
relationship   native-country
 Husband        United-States     Exec-managerial   White     Male
 Not-in-family  United-States   Handlers-cleaners   White     Male
 Husband        United-States   Handlers-cleaners   Black     Male
 Wife           Cuba               Prof-specialty   Black   Female
                United-States     Exec-managerial   White   Female
...                                           ...     ...      ...
                United-States        Tech-support   White   Female
 Husband        United-States   Machine-op-inspct   White     Male
 Unmarried      United-States        Adm-clerical   White   Female
 Own-child      United-States        Adm-clerical   White     Male
 Wife           United-States     Exec-managerial   White   Female

                               capital-gain  capital-loss  hours-per-week  \
relationship   native-country
 Husband        United-States             0             0            13.0
 Not-in-family  United-States             0             0            40.0
 Husband        United-States             0             0            40.0
 Wife           Cuba                      0             0            40.0
                United-States             0             0            40.0
...                                     ...           ...             ...
                United-States             0             0            38.0
 Husband        United-States             0             0            40.0
 Unmarried      United-States             0             0            40.0
 Own-child      United-States             0             0            20.0
 Wife           United-States         15024             0            40.0

                                gains
relationship   native-country
 Husband        United-States   <=50K
 Not-in-family  United-States   <=50K
 Husband        United-States   <=50K
 Wife           Cuba            <=50K
                United-States   <=50K
...                               ...
                United-States   <=50K
 Husband        United-States    >50K
 Unmarried      United-States   <=50K
 Own-child      United-States   <=50K
 Wife           United-States    >50K

[32560 rows x 13 columns]

### *Ejercicio 4: Selección de datos específicos por columna/fila*

1. Muestra los datos exclusivamente de las columnas edad, sexo y ganancias.
2. Sobre el conjunto anterior muestra las últimas 10 filas.

In [47]:
print(df[['age', 'sex', 'gains']])
print(df[['age', 'sex', 'gains']].head(10))

        age      sex   gains
0      50.0     Male   <=50K
1      38.0     Male   <=50K
2      53.0     Male   <=50K
3      28.0   Female   <=50K
4      37.0   Female   <=50K
...     ...      ...     ...
32555  27.0   Female   <=50K
32556  40.0     Male    >50K
32557  58.0   Female   <=50K
32558  22.0     Male   <=50K
32559  52.0   Female    >50K

[32560 rows x 3 columns]
    age      sex   gains
0  50.0     Male   <=50K
1  38.0     Male   <=50K
2  53.0     Male   <=50K
3  28.0   Female   <=50K
4  37.0   Female   <=50K
5  49.0   Female   <=50K
6  52.0     Male    >50K
7  31.0   Female    >50K
8  42.0     Male    >50K
9  37.0     Male    >50K

3. Muestra los datos de las columnas primera, segunda, tercera y quinta para las 100 primeras filas. Ordena el resultado de forma descendente por edad.

In [62]:
df.iloc[:, [0,1,2,4]].head(100).sort_values('age', ascending=False)

     age workclass  fnlwgt  education-num
73  79.0   Private  124744           10.0
99  76.0   Private  124191           14.0
76  67.0         ?  212759            6.0
82  59.0   Private  159937            9.0
23  59.0   Private  109015            9.0
..   ...       ...     ...            ...
69  19.0   Private  101509           10.0
25  19.0   Private  168294            9.0
79  18.0   Private  446839            9.0
77  18.0   Private  309634            7.0
50   NaN   Private  226956            9.0

[100 rows x 4 columns]

4. Muestra las 4 últimas columnas para todas las filas.

In [85]:
df.iloc[:, -4:]

       capital-loss  hours-per-week  native-country   gains
0                 0            13.0   United-States   <=50K
1                 0            40.0   United-States   <=50K
2                 0            40.0   United-States   <=50K
3                 0            40.0            Cuba   <=50K
4                 0            40.0   United-States   <=50K
...             ...             ...             ...     ...
32555             0            38.0   United-States   <=50K
32556             0            40.0   United-States    >50K
32557             0            40.0   United-States   <=50K
32558             0            20.0   United-States   <=50K
32559             0            40.0   United-States    >50K

[32560 rows x 4 columns]

5. Utilizando el dataframe que has creado en el ejercicio 3.3, recupera el número de usuarios/as de nacionalidad cubana y solteros/as.  ¿Cómo lo harías sobre el dataframe adults que no tiene dicho índice?

In [94]:
adults_new_index

                                age          workclass  fnlwgt    education  \
relationship   native-country
 Husband        United-States  50.0   Self-emp-not-inc   83311    Bachelors
 Not-in-family  United-States  38.0            Private  215646      HS-grad
 Husband        United-States  53.0            Private  234721         11th
 Wife           Cuba           28.0            Private  338409    Bachelors
                United-States  37.0            Private  284582      Masters
...                             ...                ...     ...          ...
                United-States  27.0            Private  257302   Assoc-acdm
 Husband        United-States  40.0            Private  154374      HS-grad
 Unmarried      United-States  58.0            Private  151910      HS-grad
 Own-child      United-States  22.0            Private  201490      HS-grad
 Wife           United-States  52.0       Self-emp-inc  287927      HS-grad

                               education-num       marital-status  \
relationship   native-country
 Husband        United-States           13.0   Married-civ-spouse
 Not-in-family  United-States            9.0             Divorced
 Husband        United-States            7.0   Married-civ-spouse
 Wife           Cuba                    13.0   Married-civ-spouse
                United-States           14.0   Married-civ-spouse
...                                      ...                  ...
                United-States           12.0   Married-civ-spouse
 Husband        United-States            9.0   Married-civ-spouse
 Unmarried      United-States            9.0              Widowed
 Own-child      United-States            9.0        Never-married
 Wife           United-States            9.0   Married-civ-spouse

                                       occupation    race      sex  \
relationship   native-country
 Husband        United-States     Exec-managerial   White     Male
 Not-in-family  United-States   Handlers-cleaners   White     Male
 Husband        United-States   Handlers-cleaners   Black     Male
 Wife           Cuba               Prof-specialty   Black   Female
                United-States     Exec-managerial   White   Female
...                                           ...     ...      ...
                United-States        Tech-support   White   Female
 Husband        United-States   Machine-op-inspct   White     Male
 Unmarried      United-States        Adm-clerical   White   Female
 Own-child      United-States        Adm-clerical   White     Male
 Wife           United-States     Exec-managerial   White   Female

                               capital-gain  capital-loss  hours-per-week  \
relationship   native-country
 Husband        United-States             0             0            13.0
 Not-in-family  United-States             0             0            40.0
 Husband        United-States             0             0            40.0
 Wife           Cuba                      0             0            40.0
                United-States             0             0            40.0
...                                     ...           ...             ...
                United-States             0             0            38.0
 Husband        United-States             0             0            40.0
 Unmarried      United-States             0             0            40.0
 Own-child      United-States             0             0            20.0
 Wife           United-States         15024             0            40.0

                                gains
relationship   native-country
 Husband        United-States   <=50K
 Not-in-family  United-States   <=50K
 Husband        United-States   <=50K
 Wife           Cuba            <=50K
                United-States   <=50K
...                               ...
                United-States   <=50K
 Husband        United-States    >50K
 Unmarried      United-States   <=50K
 Own-child      United-States   <=50K
 Wife           United-States    >50K

[32560 rows x 13 columns]

6. EXTRA1: Busca todas aquellas mujeres solteras de nacionalidad cubana

7. EXTRA2: Busca todas aquellas mujeres solteras de nacionalidad cubana que trabajen más de 40 horas a la semana

8. EXTRA3: Crea un nuevo dataframe que contenga exclusivamente a aquellos usuarios con nacionalidad portuguesa, francesa o nord-americana. Pista: utiliza la función isin. Borra las columnas occupation, capital-gain y capital-loss. Crea una nueva columna 'age-range' que tome los valores young para usuarios menores de 30 años, old para mayores de 60 y intermediate en cualquier otro caso.

9. EXTRA4: Busca información sobre las funciones isnull, dropna y fillna. ¿Para qué se utilizan? Por un ejemplo interesante para cada una de ellas dónde se demuestre su utilidad.

### *Ejercicio 5: Agrupaciones*

1. Tomando los datos presentes en este dataset, ¿Cuál es la nacionalidad que tiene una mayor media de edad? ¿Y menor media?

### *Ejercicio 6: Gráficos*

1. Para cada columna (o feature) numérica, crea un gráfico de barras que muestre su distribución de valores.

2. EXTRA: A continuación tienes un código que crea gráficos que muestran la distribución de las ganancias respecto al resto de columnas. Extrae conclusiones de los resultados y propón realizar estos gráficos para otra columna que consideres de interés.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

df_numerics = adults.select_dtypes(include = np.number)

figure=plt.figure(figsize = (15, 6))

for i, column in enumerate(df_numerics.columns, 1):
    axes = figure.add_subplot(3,3,i)
    sns.kdeplot(x = df_numerics[column], hue = adults['gains'], fill = True, ax = axes)
    figure.tight_layout()

### *Ejercicio 7: Valores missing*

1. Gestiona los valores nulos con la técnica del rellenado. ¿Qué valores piensas que deberían de tener los nulos presentes en el dataset?

2. Borra las columnas fnlwgt, education, capital_gain y capital_loss.

### *Ejercicio 8: Datos categóricos*

1. Transforma todas las columnas categóricas a numéricas con un LabelEncoder.

### *Ejercicio 9: Escalado de los datos*

1. EXTRA1: Divide el dataset en 4 grupos (training y testing).
2. EXTRA2: Escala las columnas categóricas con un StandardScaler.

# Webgrafía


[Curso de Cesar Guirò](https://cesguiro.es/doku.php?id=clase:ia:saa:start)
[Curso de Luz Frías](https://github.com/koldLight/curso-python-analisis-datos)
[Curso de Tirtjakupto Sarkar](https://github.com/tirthajyoti/Machine-Learning-with-Python)
[DataCamp](https://www.datacamp.com/)

# Licencia

[Attributon-ShacerAlike 4.0 International](https://creativecommons.org/licenses/by-sa/4.0/)

Puedes utilizar libremente este material, con las siguientes condiciones:

* Atribuir la autoría a este documento.
* Si lo utilizas y haces cambios, deberás liberarlo también bajo la misma licencia.